<div class="row p-4">
  <div class="col-md-8 offset-md-2">
    <div class="card p-3 ">
      <h3 class="text-center fw-bold">
        Add Recipe <i class="bi bi-patch-plus-fill"></i>
      </h3>
      <div *ngIf="showAlert" class="alert alert-success d-flex align-items-center justify-content-center mt-3" role="alert">
        <i class="bi bi-check-circle me-2"></i>
        <div> Recipe Added</div>
      </div>
      <form [formGroup]="addRecipeForm" (ngSubmit)="addRecipe()" class="mx-3">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            formControlName="name"
            placeholder="Enter Recipe Name"
            [ngClass]="addRecipeForm.get('name')?.invalid && addRecipeForm.get('name')?.touched  ? 'is-invalid' : ''"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('name')?.touched &&
              addRecipeForm.get('name')?.invalid &&
              addRecipeForm.get('name')?.hasError('required')
            "
          >
            Please add a name for your recipe
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('name')?.touched &&
              addRecipeForm.get('name')?.invalid &&
              addRecipeForm.get('name')?.hasError('maxlength')
            "
          >
            Name should not exceed 100 characters
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('name')?.touched &&
              addRecipeForm.get('name')?.invalid &&
              addRecipeForm.get('name')?.hasError('minlength')
            "
          >
            Name should be at least 5 characters long
          </div>
        </div>

        <div class="mb-3">
          <label for="ingredients" class="form-label">Ingredients</label>
          <textarea
            class="form-control"
            rows="5"
            id="ingredients"
            name="ingredients"
            formControlName="ingredients"
            placeholder="Enter Ingredients"
            [ngClass]="
              addRecipeForm.get('ingredients') ?.invalid  && addRecipeForm.get('ingredients')?.touched  ? 'is-invalid' : ''
            "
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('ingredients')?.touched &&
              addRecipeForm.get('ingredients')?.invalid &&
              addRecipeForm.get('ingredients')?.hasError('required')
            "
          >
            Please add ingredients for your recipe
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('ingredients')?.touched &&
              addRecipeForm.get('ingredients')?.invalid &&
              addRecipeForm.get('ingredients')?.hasError('maxlength')
            "
          >
            Ingredients should not exceed 5000 characters
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('ingredients')?.touched &&
              addRecipeForm.get('ingredients')?.invalid &&
              addRecipeForm.get('ingredients')?.hasError('minlength')
            "
          >
            Ingredients should be at least 5 characters long
          </div>
        </div>

        <div class="mb-3">
          <label for="instructions" class="form-label">Instructions</label>
          <textarea
            class="form-control"
            id="instructions"
            rows="10"
            name="instructions"
            formControlName="instructions"
            placeholder="Enter Recipe Instructions"
            [ngClass]="
              addRecipeForm.get('instructions')?.invalid  && addRecipeForm.get('instructions')?.touched ? 'is-invalid' : ''
            "
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('instructions')?.touched &&
              addRecipeForm.get('instructions')?.invalid &&
              addRecipeForm.get('instructions')?.hasError('required')
            "
          >
            Please add instructions for your recipe
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('instructions')?.touched &&
              addRecipeForm.get('instructions')?.invalid &&
              addRecipeForm.get('instructions')?.hasError('minlength')
            "
          >
            Instructions should be at least 5 characters long
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('instructions')?.touched &&
              addRecipeForm.get('instructions')?.invalid &&
              addRecipeForm.get('instructions')?.hasError('maxlength')
            "
          >
            Instructions should not exceed 5000 characters
          </div>
        </div>

        <div class="mb-3">
          <label for="time" class="form-label">Cooking Time</label>
          <input
            type="time"
            class="form-control"
            id="cookingTime"
            name="time"
            formControlName="time"
            placeholder="Enter Cooking Time"
            (input)="validateTime($event)"
            [ngClass]="addRecipeForm.get('time')?.invalid && addRecipeForm.get('time')?.touched ? 'is-invalid' : ''"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('time')?.touched &&
              addRecipeForm.get('time')?.invalid &&
              addRecipeForm.get('time')?.hasError('required')
            "
          >
            Please add cooking time for your recipe
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('time')?.touched &&
              addRecipeForm.get('time')?.invalid &&
              addRecipeForm.get('time')?.hasError('invalidTime')
            "
          >
            The cooking time you added is invalid
          </div>
        </div>

        <div class="mb-3">
          <label for="servings" class="form-label">Servings</label>
          <input
            type="number"
            class="form-control"
            id="servings"
            name="servings"
            formControlName="servings"
            placeholder="Enter Serving Quantity"
            [ngClass]="
              addRecipeForm.get('servings')?.invalid && addRecipeForm.get('servings')?.touched  ? 'is-invalid' : ''
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('servings')?.touched &&
              addRecipeForm.get('servings')?.invalid &&
              addRecipeForm.get('servings')?.hasError('required')
            "
          >
            Please add how many servings this recipe provides
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              addRecipeForm.get('servings')?.touched &&
              addRecipeForm.get('servings')?.invalid &&
              addRecipeForm.get('servings')?.hasError('min')
            "
          >
            Servings should be at least 1
          </div>
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-main" [disabled]="addRecipeForm.invalid">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
