<div class="banner">
  <div class="row p-5">
    <div class="col-md-6 offset-md-3">
      <div class="card text-center">
        <div class="text-center mt-5">
          <img src="../../assets/images/logo.svg" height="50" width="50" />
        </div>
        <h2 class="mt-4 mb-2 fw-bold">My Recipes!</h2>
        <h5 class="px-3 mt-4">
          Store all your tasty sizzling recipes here so you where to look for
          them when preparing crazy delicious meals in the future
        </h5>
        <div class="mx-auto my-5">
          <a routerLink="/add-recipe" class="btn btn-md btn-main text-white border-2">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
